
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

#root {
    margin: 0 auto;
    text-align: center;
    font-family: "INGMe";
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "INGMe";
    background-color: #f0f0f0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

@font-face {
    font-family: 'INGMe';
    src: url("../INGMeWeb-Regular.woff2.ttf") format('truetype');
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ff6200;
}

    .header h1 {
        color: #fff;
        font-size: 2.5em;
    }

    .header img {
        width: 200px;
    }

.footer {
    display: flex;
    justify-content: start;
    align-items: start;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: black;
    background-color: #c1e0cb;
}

    .footer h3 {
        padding-left: 20px;
        padding-top: 10px;
    }

.identity-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.identity {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    font-size: 1.5em;
    color: #ffff;
    border: white 3px solid;
    border-radius: 20px;
    margin-top: 100px;
    padding-left: 80px;
    padding-top: 10px;
    padding-bottom: 50px;
    width: 50%;
    background: rgb(193,224,203);
    background: linear-gradient(0deg, rgba(193,224,203,1) 2%, rgba(252,103,8,1) 100%);
}

